
.left{
    background:linear-gradient(to left, #9E8FB2,#A7ACD9);
    display: flex;
    float: left;   
    height: 100%;
    width: 15%;
    position: fixed;
    
}
.right{
    background-color: #f5feff;
    float: right;
    height: 100vh;
    overflow: auto;
    position:static;
    width: 85%;
}
