<div class="container">
    <h2>Bank of India <small>erode</small></h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">No</div>
        <div class="col col-2">Date</div>
        <div class="col col-3">Particulars</div>
        <div class="col col-4">Dibit</div>
        <div class="col col-5">Credit</div>
        <div class="col col-6">Balance</div>
      </li>
      <li class="table-row" *ngFor="let item of items; ">
        <div class="col col-1">{{item.ref_no}}</div>
        <div class="col col-2" >{{ item.date | date}}</div>
        <div class="col col-3">{{item.particulars}}</div>
        <div class="col col-4" >{{check(item.debit| number : '1.0-2')}}</div>
        <div class="col col-5" >{{check(item.credit| number : '1.0-2')}}</div>
        <div class="col col-6" >{{item.balance| number : '1.0-2'}}</div>
      </li>
      <li class="table-row center">
      {{default}}
      </li>
      
      
    </ul>
  </div> 