<nav >
    <div class="logo">
        <img src="{{mylogo}}" alt="no logo" style="width: 100%;height: auto;">
    </div>
    <div class="content"> 
        <div class="item"><a routerLink="checkbalance"> <i class="bi bi-house-door-fill"> </i>Check Balance</a></div>
        <div class="item"><a routerLink="quicktransfer"> <i class="bi bi-book-half"></i>Quick Transfer</a></div>
        <div class="item"><a routerLink="viewstatement"><i class="bi bi-bookmarks-fill"></i>View Statement</a></div>
        <div class="item"><a routerLink="quicken"><i class="bi bi-bookmark-plus-fill"></i>Quicken</a></div>
        
    </div>
    <div class="foot">
    <a (click)="signout()"><i class="bi bi-person-circle" style="font-size: 40px;">sign out </i></a>
    </div>
</nav> 