

<div class="table">

    <table class="content" width=100%>
        <tbody>
            <tr>
                <td>
                    <div class="container-inner">
                        <img src="../../../assets/profil.png" class="profile-pic">
                        <h4 class="cname">NAME : {{data.fist_name }} {{data.last_name}}</h4>
                    </div>
                
            </td>
            <td>
                <h4>BALANCE AMOUNT :{{data.balance}}</h4>
            </td>
            </tr>
    
        </tbody>
        
    </table>
    </div>
<app-viewstatement count=1></app-viewstatement>
