<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="wrapper">
    <h2>Payment Form</h2>
    <form #transferform="ngForm">
        <h4>Sender Details</h4>
        <div class="input-group">
            <div class="input-box">
                <input type="text" placeholder="Acount Number"  class="sname" name="from_ac" id="from_ac" autocomplete="off" required #from_ac="ngModel"ngModel>
                <i class="fa fa-user icon"></i>
            </div>
        </div>
        <h4>Receiver Details</h4>
        <div class="input-group">
            <div class="input-box">
                <input type="text" placeholder="Acount Number"  class="rname" name="to_ac" id="to_ac" autocomplete="off" required #to_ac="ngModel"ngModel>
                <i class="fa fa-user icon"></i>
            </div>
        </div>
        <h4>Payment Details</h4>
        <div class="input-group">
            <div class="input-box">
                <input type="text" placeholder="Details"  class="rname" name="details" id="details" autocomplete="off" required #details="ngModel"ngModel>
                <i class="fa fa-user icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <input type="text" placeholder="Amount"  class="rname" name="amount" id="amount" autocomplete="off" required #amount="ngModel"ngModel>
                <i class="fa fa-user icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <button type="button" (click)="ontransfer(transferform.value)">TRANSFER</button>
            </div>
        </div>
    </form>
</div>



